/.metadata/
DesktopJava/data/sample_tempalte.xml
Documentation/orderingmeue.png
Documentation/orderingmenu.svg
Documentation/desktop_android_drill_down_menu.odp
DesktopJava/data/sample_tempalte.xml
Desktop/2021_db
Desktop/bin/Debug/RestPoint.exe
Desktop/obj/Debug/src/config.o
Desktop/obj/Debug/src/main.o
Desktop/obj/Debug/src/MainFrame.o
Desktop/obj/Debug/src/math/geometry.o
Desktop/obj/Debug/src/nodes/c4PolgoneRectangle.o
Desktop/obj/Debug/src/nodes/cBookingNode.o
Desktop/obj/Debug/src/nodes/cChairNode.o
Desktop/obj/Debug/src/nodes/cLevelNode.o
Desktop/obj/Debug/src/nodes/cLevelsNode.o
Desktop/obj/Debug/src/nodes/cLinkerNode.o
Desktop/obj/Debug/src/nodes/cMenuesNode.o
Desktop/obj/Debug/src/nodes/cMenuItemNode.o
Desktop/obj/Debug/src/nodes/cMenuOptionNode.o
Desktop/obj/Debug/src/nodes/cPropertyNode.o
Desktop/obj/Debug/src/nodes/cSettingsNode.o
Desktop/obj/Debug/src/nodes/cTableNode.o
Desktop/obj/Debug/src/nodes/cTreeNode.o
Desktop/obj/Debug/src/sqlite/gj_mysql.o
Desktop/obj/Debug/src/sqlite/sqlite3.o
Desktop/obj/Debug/src/Tree/cWXTreeCtrl.o
Desktop/obj/Debug/src/wxbookingsdialog.o
Desktop/obj/Debug/src/wxcrafter.o
Desktop/obj/Debug/src/wxcrafter_bitmaps.o
Desktop/obj/Debug/src/wxtextinputdialog.o
Desktop/RestPoint2.depend
Desktop/RestPoint2.depend
Desktop/RestPoint2.layout
DesktopJava/data/sample_tempalte.xml
DesktopJava/src/EditDialog.java
Documentation/.~lock.BugsFeaturesAndIssues.ods#
Desktop/RestPoint2.depend
Desktop/RestPoint2.layout
DesktopJava/data/sample_tempalte.xml
/.idea/.gitignore
/.idea/libraries/classes.xml
/.idea/GastroManager.iml
/GastroManager.iml
/.idea/libraries/lib.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
.idea/
gastromanager.db
